h1 {
    background-color: red;
    color: white;
    font-family: 'Lucida console', monospace;
}
.p1 {
    background-color: green;
    color:black;
    font-family: 'Courier New', Courier, monospace;
}